<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>LiquidJS - Liquid template engine for Node.js and browsers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">LiquidJS</h1>
      <h2 class="project-tagline">Liquid template engine for Node.js and browsers.</h2>
      <a href="https://github.com/harttle/liquidjs" class="btn">View on GitHub</a>
      <a href="https://unpkg.com/liquidjs/dist/liquid.min.js" class="btn">for Production</a>
      <a href="https://unpkg.com/liquidjs/dist/liquid.js" class="btn">for Development</a>
    </section>

    <section class="main-content">

      <h3>Features</h3>
      <ul>
        <li>Support both Node.js and browsers. Here's a demo: <a href="https://jsfiddle.net/6u40xbzs/">https://jsfiddle.net/6u40xbzs/</a> </li>
        <li>Fully compatible to <a href="https://shopify.github.io/liquid/">shopify</a>, with all <a href="https://github.com/harttle/liquidjs/wiki/Builtin-Tags">tags</a> and <a href="https://github.com/harttle/liquidjs/wiki/Builtin-Filters">filters</a> implemented</li>
        <li>In pure JavaScript with <a href="https://github.com/kevinbeaty/any-promise">any-promise</a> as the only one dependency</li>
      </ul>

      <h3>Installation</h3>
      <li>Node.js
        <pre><code>npm install --save liquidjs</code></pre>
      </li>
      <li>Browser (production)
        <pre><code>&lt;script src="//unpkg.com/liquidjs/dist/liquid.min.js"&gt;&lt;/script&gt;</code></pre>
      </li>
      <li>Browser (development)
        <pre><code>&lt;script src="//unpkg.com/liquidjs/dist/liquid.js"&gt;&lt;/script&gt;</code></pre>
      </li>

      <h3>Node.js Demo</h3>
      <pre><code>var Liquid = require('liquidjs');
var engine = Liquid();

engine
    .parseAndRender('{{name | capitalize}}', {name: 'alice'})
    .then(console.log);

// outputs 'Alice'</code></pre>

      <h3>Browser Demo</h3>
      <p>Here's a JSFiddle: <a href="https://jsfiddle.net/6u40xbzs/1/">https://jsfiddle.net/6u40xbzs/1/</a><p>
      <script async src="//jsfiddle.net/6u40xbzs/embed/js,html,result/dark/"></script>

      <h3>Debugging</h3>
      <p>Syntax error will be located in <code>error.message</code>:</p>
      <pre><code>   3| {% assign contributors="harttle,chenos,thardy,..." | split: "," %}
   4| &lt;ul&gt;
&gt;&gt; 5| {% for person in contributors %}
   6| &lt;li&gt;{{ person }}&lt;/li&gt;
   8| &lt;/ul&gt;
ParseError: tag {% for person in contributors %} not closed, line:5
    at parseToken (https://unpkg.com/liquidjs@2.1.2/dist/liquid.js:791:13)
    at Object.parse (https://unpkg.com/liquidjs@2.1.2/dist/liquid.js:772:22)
    at Object.parse (https://unpkg.com/liquidjs@2.1.2/dist/liquid.js:258:24)
    at https://unpkg.com/liquidjs@2.1.2/dist/liquid.js:269:20
    at &lt;anonymous&gt;</code></pre>
      <blockquote>See this JSFiddle:
        <a href="https://jsfiddle.net/d86qj6yb/6/">https://jsfiddle.net/d86qj6yb/6/</a>
      </blockquote>

      <h3>API Reference</h3>
      <p>Refer to <a href="https://github.com/harttle/liquidjs">README.md</a> for detailed usage and options. See wiki for API references:</li>
      <ul>
        <li>Builtin Tags: <a href="https://github.com/harttle/liquidjs/wiki/Builtin-Tags">https://github.com/harttle/liquidjs/wiki/Builtin-Tags</a></li>
        <li>Builtin Filters: <a href="https://github.com/harttle/liquidjs/wiki/Builtin-Filters">https://github.com/harttle/liquidjs/wiki/Builtin-Filters</a></li>
        <li>Operators: <a href="https://github.com/harttle/liquidjs/wiki/Operators">https://github.com/harttle/liquidjs/wiki/Operators</a></li>
        <li>Whitespace Control: <a href="https://github.com/harttle/liquidjs/wiki/Whitespace-Control">https://github.com/harttle/liquidjs/wiki/Whitespace-Control</a></li>
      </ul>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/harttle/liquidjs">LiquidJS</a> is maintained by <a href="https://github.com/harttle">harttle</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

      <script src="https://unpkg.com/liquidjs@latest/dist/liquid.min.js"></script>
      <script src="//cdn.bootcss.com/ace/1.2.5/ace.js"></script>
    </section>
  </body>
</html>
